.contact-wrapper {

    width: 100vw;
    height: 50vh;
    background-color: var(--bg-color);
    color: var(--brown-color);
    padding-left: var(--padding-left);
    padding-top: 8rem;
    position: relative;
    padding-right: 7rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contactSection-name {
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 4px;
    word-spacing: 10px;
    overflow-y: hidden;
    text-transform: uppercase;
    z-index: 4;
}

.connection-wrapper {
    display: flex;
    gap: 2rem;
}

.connection-sites-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 3rem;
    flex: .5;
}

.connection-links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.connection-sites {
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: -1px;
    display: flex;
    gap: 1rem;
    /* border: 1px solid white; */
}

.contact-indicatorIcon {
    width: 13px;
    height: max-content;
    transform: rotate(115deg);
    margin-top: .5rem;
}

.conection-links {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    letter-spacing: 1px;

}

.conection-links .key {
    font-size: 14px;
    font-weight: 600;
}

.conection-links .value {
    font-size: 12px;
    color: #b7ab988e;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in;
    text-decoration: none;
}


.conection-links .value:hover {
    color: var(--brown-color);
    text-decoration: underline;
}





/* Tab */
@media (max-width: 992px) {
    .contact-wrapper {
        min-height: 40vh;
        height: max-content;

        padding-left: 8rem;
        padding-top: 5rem;
        padding-right: 3rem;
        padding-bottom: 1rem;
        gap: 2rem;
    }



    .connection-wrapper {
        display: flex;
        flex-direction: column;
    }

    .connection-sites-wrapper {
        column-gap: 2rem;
    }


    .connection-links-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        padding-left: 1rem;
    }

    .connection-sites {
        gap: .5rem;
    }

    .contact-indicatorIcon {
        width: 10px;
        height: max-content;
        transform: rotate(115deg);
        margin-top: .5rem;
    }

    .conection-links .value {
        color: var(--brown-color);
    }

}




/* Mobile */
@media (max-width: 575px) {
    .contact-wrapper {
        min-height: 40vh;
        height: max-content;

        padding-left: 4rem;
        padding-top: 3rem;
        padding-right: 3rem;
        padding-bottom: 1rem;
        gap: 2rem;
    }


    .connection-links-wrapper {
        padding-left: 0;
    }

    .connection-sites {
        font-size: 5.5vw;
        gap: .5rem;
        letter-spacing: 0;
    }


}