.wf-wrapper {
    width: 100%;

    height: max-content;
    box-sizing: border-box;
    background-color: var(--bg-light-color);

    padding: var(--page-padding);
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.wf-sub-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.wf-sub-content-container {
    align-self: center;
    width: 90%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    box-sizing: border-box;
    padding: 1rem;
    justify-content: flex-start;
}



.wf-contentContainer {
    align-self: flex-start;
    width: 91%;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-sizing: border-box;
}


.wf-contentContainer p {
    font-weight: bold;
}


.wf-contentContainer ol {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}


/* Tab */
@media (max-width: 992px) {
    .wf-wrapper {
        padding: 4rem;
        gap: 3rem;
        padding-top: 2rem;
    }
    
    .wf-sub-content-container {
        align-self: flex-start;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    
    .wf-contentContainer {
        width: 100%;
        gap: .6rem;
    }
    .wf-contentContainer ol {
        gap: .5rem;
    }
}

/* Mobile */
@media (max-width: 575px) {
    .wf-wrapper {
        padding: 3rem;
        gap: 2.5rem;
        padding-top: 0;
    }

    .wf-sub-content-container {
        grid-template-columns: 1fr;
    }

}