.page {
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

.page.fixedheight {
  height: 100vh;
  max-height: 100vh;
}

.page.dynamicHeight {
  height: max-content;
}

.main {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .page {
  }
}
