
.comment-wrapper {
    width: 70vw;
    min-height: 60vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 3rem;
    box-sizing: border-box;
    justify-content: flex-start;
    position: relative;
    margin-top: 5rem;
}

.quote-marks { 
    position: absolute;
    top: -1rem;
    left: -2.5rem;
    font-size: 4rem;
    font-weight: 700;
    color: var(--red-color);
}

.commentTxt {
    width: 50%;
    
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -3px;
}

.commenterInfo {
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

.commenterName {
    font-size: 14px;
    font-weight: 600;
}

.commenterPosition {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.commenterPosition span {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #b7ab9894;
}



.WTS-line {
    width: 70vw;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.252);
    border: none;
}



/* Tab */
@media (max-width: 992px) {
    .comment-wrapper {
        width: 95%;
        min-height: 40vh;
        height: max-content;
        gap: 3rem;
        margin-top: 2rem;
    }

    
.commentTxt {
    width: 100%;
    
    font-size: 6.5vw;
    letter-spacing: -1px;
}
    

.quote-marks { 
    position: absolute;
    top: -.7rem;
    left: -1.5rem;
    font-size: 2.5rem;
    font-weight: 700;
}

}




/* Mobile */
@media (max-width: 575px) {

    .comment-wrapper {
        width: 95%;
        min-height: 50vh;
        height: max-content;
        gap: 3rem;
        margin-top: 2rem;
    }

    
.commentTxt {
    width: 100%;
    
    font-size: 7.2vw;
    letter-spacing: -1px;
}
    

.quote-marks { 
    position: absolute;
    top: -.7rem;
    left: -1.5rem;
    font-size: 2.5rem;
    font-weight: 700;
}
}