.navbarFrame-wrapper {
    --padding-dist: 4rem; 
    --inactive-menu-color: #b7ab9886;

    position: fixed;
    top: 0;
    width: max-content;
    height: 100vh;
    box-sizing: border-box;
    z-index: 95;
}

.navbarFrame-wrapper.left {
    left: var(--padding-dist);
}

.navbarFrame-wrapper.right {
    right: var(--padding-dist);
}

.logo_container {
    position: absolute;
    top: calc(var(--padding-dist) - .7rem);
    left: 0;
    cursor: pointer;
    /* width: max-content; */
    padding: 1rem;
    
    /* border: 1px solid white; */
    transform: scale(.6);
}


.dog-container.navbarFrame {
    width: 80px;
    height: 80px;
    background-color: var(--brown-color);
    border-radius: 50%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 100px;
    /* Adds depth for 3D effect */
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color 0.2s ease-in;
}

.logo_container:hover .dog-container.navbarFrame {
    background-color: var(--red-color);
}

.dog-face.navbarFrame {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dogImg.navbarFrame {
    height: max-content;
    width: 60px;
}


.menu_container {
    width: max-content;
    box-sizing: border-box;
    position: absolute;
    top: var(--padding-dist);
    right: 0;
    display: flex;
    flex-direction: columns;
}

.menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: .7rem;
    display: flex;
    flex-direction: column;
}

.menu-item {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 600;
    overflow: hidden;
    cursor: pointer;
    height: 17px;
    text-align: right;
    color: var(--inactive-menu-color);
}

.menu-item.active {
    color: var(--brown-color);
}

.text_innerContainer {
    transition: all 0.3s cubic-bezier(0.796, 0, 0.198, 1);
}

.menu-item.active .text_innerContainer {
    transform: translateY(-17px);
    color: var(--brown-color);
}

.externalLinks_container {
    width: max-content;
    box-sizing: border-box;
    position: absolute;
    bottom: var(--padding-dist);
    left: 0;
    display: flex;
    flex-direction: columns;
}

.external-links {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1rem;
}
 

.soundControl_container {
    box-sizing: border-box;
    position: absolute;
    bottom: var(--padding-dist);
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    height: 180px;
    width: 50px;
}

.soundControl_container:hover p{
    color: var(--brown-color);
}

.soundControl_container p {
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: 2px;
    overflow-y: hidden;
    text-transform: uppercase;
    width: max-content;
    height: max-content;
    transform: rotate(90deg);
    display: flex;
    gap: .3rem;
    color: #b7ab9863;
    transition: all 0.3s ease-in;
}


.soundControl_container p span {
    display: block;
    height: 1rem;
    transition: all 0.3s ease-in;
    color: var(--brown-color);
}


.soundControl_container p span.on {
    transform: translateY(0);
}

.soundControl_container p span.off {
    transform: translateY(-100%);
}