.aboutSection-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--brown-color);
    padding-left: var(--padding-left);
    padding-top: var(--padding-left);
    /* border: 1px solid white; */
}

.about-content-wrapper {
    width: max-content;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section-name {
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 4px;
    word-spacing: 10px;
    overflow-y: hidden;
    text-transform: uppercase;
}

.overlayText {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -3px;
    position: relative;
    width: 100%;
}